<h2>Staff Edit</h2>

<%= render 'form', staff: @staff %>

<button class="btn-active" type="submit"><%= link_to '詳細', @staff %></button>
<button class="btn-active" type="submit"><%= link_to 'back', staffs_path %></button>
