<br>
<%= render 'form', voice_check: @voice_check %>
<button class="btn-active" type="submit"><%= link_to '詳細', @voice_check%></button>
<button class="btn-active" type="submit"><%= link_to '一覧', voice_checks_path %></button>
