<h2>ボイスログ管理システム</h2>


ログインしてください


<br><br>

<button class="btn-active" type="submit"><span class="glyphicon glyphicon-log-in"><%= link_to "ログイン", new_evaluator_session_path %> </button>




  <button class="btn-active" type="submit"><%= link_to "新規登録", new_evaluator_registration_path %>  </button>
