<header class="jumbotron text-center">
  <div class="container">

    <h1 class="jumbotron-h1">voice check</h1>

    <% if evaluator_signed_in? %>
      <span><%=link_to '評価一覧', voice_checks_path, class: 'btn-lg btn-default' %></span>
    <% else %>
      <span><%= link_to "新規登録", new_evaluator_registration_path, class: 'btn-lg btn-default' %></span>
      <span><%= link_to " ログイン", new_evaluator_session_path, class: 'btn-lg btn-default' %></span>
    <% end %>
  </div>
</header>
