/* Custom top CSS
-------------------------------------------------- */
body {
    min-height: 900px;
    padding-top: 40px;
}
header.jumbotron {
    height: 700px;
    background: image-url("top.png") center 0 no-repeat;
    background-size: cover;
}
h1.jumbotron-h1{
    padding-top:260px;
    overflow:hidden;

}
@media (max-width: 680px){
header.jumbotron {
    height: 410px;
    background: image-url("top.png") center 0 no-repeat;
    background-size: cover;
}
}

.alert {
    padding-top:30px;
    padding-bottom:0px;
    text-align: center;

}
